{% extends 'layout.html' %}
{% from 'layout.html' import time %}

{% block head %}
  {% if blog.base_url %}
    <link rel="canonical" href="{{ blog.base_url }}">
  {% endif %}
  {{ super() }}
{% endblock %}

{% block site_name %}
  <h1>{{ super() }}</h1>
{% endblock %}

{% block body %}
  {{ super() }}

  <div class="home">
    <div class="recent-posts">
      <h2>최근 글</h2>
      <ul>
        {% for post in posts %}
          <li>
            <a href="{{ post.resolve_object_url(blog.base_url or
                                                blog.current_base_path) }}">
              {%- if post.title is none -%}
                {{ time(post.published_at) }}
              {%- else -%}
                {{- post.title -}}
              {%- endif -%}
            </a>
            {%- if post.title is not none %}
              {{ time(post.published_at, parentheses=true) }}
            {%- endif -%}
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="archive">
      <h2>아카이브</h2>
      <ul>
        {% for year in blog.annual_archives|sort(reverse=true) %}
          <li><a href="{{ href_for(year ~ '/index.html') }}">
            {{- year }}년</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}
