{% extends 'layout.html' %}
{% from 'layout.html' import time %}

{% block title -%}
  {%- if post.title is none -%}
    {{ time(post.published_at, time_tag=false) }}
  {%- else -%}
    {{- post.title -}}
  {%- endif %} &mdash; {{ super() }}
{%- endblock %}

{% block head %}
  {% if blog.base_url %}
    <link rel="canonical"
          href="{{ canonical_post.resolve_object_url(blog.base_url) }}">
  {% endif %}
  {% if not post.canon %}
    <meta http-equiv="refresh" content="0; url={{ 
      post.canonical_post.resolve_object_url(blog.base_url or
                                             blog.current_base_path)
    }}">
  {% endif %}
  {{ super() }}
{% endblock %}

{% block body %}
  {{ super() }}

  <article>
    {% if canonical_post.title is none %}
      <h1>{{ time(canonical_post.published_at) }}</h1>
    {% else %}
      {{ time(canonical_post.published_at) }}
    {% endif %}

    {{ post }}
  </article>
{% endblock %}
