{% extends 'layout.html' %}
{% from 'layout.html' import outdate_disclaimer, time %}

{% block title -%}
  {%- if post.title is none -%}
    {{ time(post.published_at, time_tag=false) }}
  {%- else -%}
    {{- post.title -}}
  {%- endif %} &mdash; {{ super() }}
{%- endblock %}

{% block head %}
  {% if blog.base_url %}
    <link rel="canonical"
          href="{{ canonical_post.resolve_object_url(blog.base_url) }}">
  {% endif %}
  {% if not post.canon %}
    <meta http-equiv="refresh" content="0; url={{ 
      post.canonical_post.resolve_object_url(blog.base_url or
                                             blog.current_base_path)
    }}">
  {% endif %}
  {{ super() }}
{% endblock %}

{% block body_class -%}
  {{- super() }} post-page
  {%- if blog.outdates(canonical_post.published_at) %} outdated {%- endif -%}
{%- endblock %}

{% block body %}
  {{ super() }}

  <article>
    {% if canonical_post.title is none %}
      <h1>{{ time(canonical_post.published_at) }}</h1>
    {% else %}
      {{ time(canonical_post.published_at) }}
    {% endif %}

    {% if blog.outdates(canonical_post.published_at) %}
      {% call outdate_disclaimer(canonical_post.published_at.year) %}
        {{ post }}
        <script>
        (function () {
          var ps = document.getElementsByClassName('outdate-disclaimer');
          if (ps.length < 1) {
            return;
          }
          var p = ps[0], t = document.createElement('span');
          t.addEventListener('click', function () {
            this.parentNode.removeChild(this);
            var gs = document.getElementsByClassName('outdate-gray-out');
            for (var i = gs.length - 1; i >= 0; --i) {
              gs[i].className = gs[i].className.replace(
                /(^|\s)outdate-gray-out(\s|$)/g, '');
            }
          });
          t.className = 'toggler';
          t.innerText = '읽기';
          p.appendChild(t);
          var e = p.nextSibling;
          while (e !== null && e !== undefined) {
            if (e.nodeType === 1) {
              e.className += ' outdate-gray-out';
            }
            e = e.nextSibling;
          }
        })();
        </script>
      {% endcall %}
    {% else %}
      {{ post }}
    {% endif %}
  </article>
{% endblock %}
